@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrap {
    overflow: hidden !important;
}
a {
    text-decoration: none;
    color: #ECECEC;

}

ul,
ol {
    list-style: none;
}

header {
    background-color: white;
    margin: auto;
    /* border: 1px solid #000; */
    width: 100%;
    max-width: 1364px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .gnb {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.ham {
    display: none;
    position: absolute;
    top: 15px;
    right: 5px;
}
.sub p {
    /* border: 1px solid #000; */
    background-image: url(./busimg/sun1.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    color: transparent;
    padding-right: 60px;
}

.sub {
    display: flex;
    align-items: center;
    color: turquoise;
}


header img {
    width: 110px;
}

header .gnb a {
    color: #666666;
    font-size: 22px;
    font-family: 'GongGothicLight';
    padding: 50px;

}

header .gnb a:hover {
    color: #306fd9;
    transition: .5s;
}
/* @media (max-width:414px) {
    .gnb {
        display: none;
    }

} */
@media (max-width:1000px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
    }
    header .gnb {
        width: 100%;
        height: 0;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }
  
    header .gnb li {
        padding: 30px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
       
    }
    header .gnb.on {
        height: auto;
        background-color: rgb(255, 255, 255);
    }
    header .sub {
        display: none;
    }
    
    header .logo {
        display: block;
    }

    header .ham {
        /* border: 1px solid red; */
        display: block;
        width: 7%;
        height: 50px;
        /* right: 0px; */
        color: #000;
        font-size: 30px;
        transition: .5s;
    }

    .sec1 .box1 {
        background-color: transparent !important;
        border: 1px solid transparent !important;
    }
}

/* sec1 */
body {
    /* background-color: #F1F1F1; */
    overflow-x: hidden;
    /* border: 1px solid #000; */
}

@media (min-width:801px) {
    header {
        margin-top: 30px;
        background-color: white;
    }

    .sec1 {
        background-color: white;
        position: relative;
        width: 100%;
        z-index: 10;
    }

    .sec1 .box1 {
        width: 100%;
        height: 460px;
        background-color: #DEDEDE;
        display: flex;
        justify-content: flex-end;
        /* border: 1px solid #000 ; */
        position: relative;
        /* background-color: transparent !important; */
    }

    .sec1 {
        padding-top: 70px;
    }

    .sec1 .sub_list {
        font-family: 'GongGothicLight';
        position: absolute;
        right: 22%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        width: 300px;
        /* width: 38%; */
    }


    .sec1 .sub_list li:hover {
        background-color: white;

        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .sec1 .sub_list li a:hover {
        color: #f2853b;
    }

    .sec1 .sub_list li a {
        /* border: 1px solid red; */
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: rgb(82, 82, 82);
    }

    .sec1 .sub_list li {
        position: relative;
        border-bottom: 1px solid gray;
        transition: .5s;
    }

    .sec1 .sub_list li::before {
        content: "";
        /* border: 1px solid red; */
        position: absolute;
        background: url(./busimg/arrows-1.svg);
        background-size: 30px;
        width: 20%;
        height: 100%;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;


    }

    .sec1 .sub_list li:hover::before {
        background: url(./busimg/arrows-2.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px;
        cursor: pointer;
    }

    .sec1 .ba1 {
        width: 35%;
        height: 350px;
        position: absolute;
        /* border: 1px solid #000; */
        background-color: #F2EDE2;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        left: 25%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 500;
    }

    .ba1_img {
        width: 40%;
    }

    .sec1 .ba1 img {
        width: 90%;
        margin-left: 70px;
        margin-top: 60px;
    }

    .box1 button {
        width: 60%;
        height: 30px;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'GongGothicLight';
    }

    .sec1 .list {
    }

    .sec1 .list p:nth-of-type(1) {
        font-size: 20px;
        font-family: 'GongGothicLight';
        position: relative;
        
    }

    .sec1 .list p:nth-of-type(1)::after {
        content: "";
        display: block;
        position: absolute;
        left: 65%;
        top: 10px;
        border: 1px solid #242424;
        width: 90px;
        right: 0;
    }

    .sec1 .list p:nth-of-type(2) {
        font-size: 40px;
        font-family: 'GongGothicMedium';
        padding-top: 1em;

    }

    .sec1 .list p:nth-of-type(3) {
        font-size: 50px;
        font-family: 'GongGothicBold';
        padding-top: 0.1em;
        color: #1E7AD1;
        padding-bottom: 30px;
    }

    .sec1::after {
        content: "";
        position: absolute;
        width: 40%;
        height: 100%;
        border-radius: 0 30px 30px 0;
        top: 50px;
        background-image: url(./busimg/sub\ ba1.png);
        background-position: right;
    }
}

@media (max-width:1000px) {
    .sec1 {
        position: absolute;
        width: 100%;
        z-index: 10;
    }

    .sec1 .box1 {
        width: 100%;
        height: 460px;
        /* background-color: #DEDEDE; */
        display: flex;
        justify-content: flex-end;
        border: 1px solid #000;
        position: relative;
        background-color: #DEDEDE;
    }
    .sec1 {
        padding-top: 70px;
    }

    .sec1 .sub_list {
        font-family: 'GongGothicLight';
        position: absolute;
        right: 22%;
        top: 115%;
        left: 10%;
        /* transform: translateY(-50%); */
        font-size: 20px;
        width: 80%;
        /* width: 38%; */
        z-index: 100;
        background-color: white;
        border-radius: 15px;
    }


    .sec1 .sub_list li:hover {
        background-color: white;

        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .sec1 .sub_list li a:hover {
        color: #f2853b;
    }

    .sec1 .sub_list li a {
        /* border: 1px solid red; */
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: rgb(82, 82, 82);
    }

    .sec1 .sub_list li {
        position: relative;
        border-bottom: 1px solid gray;
        transition: .5s;
    }

    .sec1 .sub_list li::before {
        content: "";
        /* border: 1px solid red; */
        position: absolute;
        background: url(./busimg/arrows-1.svg);
        background-size: 30px;
        width: 20%;
        height: 100%;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;


    }

    .sec1 .sub_list li:hover::before {
        background: url(./busimg/arrows-2.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px;
        cursor: pointer;
    }

    .sec1 .ba1 {
        width: 80%;
        height: 300px;
        position: absolute;
        /* border: 1px solid #000; */
        background-color: #F2EDE2;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        left: 10%;
        top: 30%;
        transform: translateY(-50%);
        z-index: 500;
    }

    .ba1_img {
        width: 37%;
    }



    .box1 button {
        cursor: pointer;
        width: 60%;
        height: 30px;
        border-radius: 15px;
        font-size: 16px;
        font-family: 'GongGothicLight';
    }

    .sec1 .list {

    }

    .sec1 .list p:nth-of-type(1) {
        font-size: 20px;
        font-family: 'GongGothicLight';
        position: relative;
    }

    .sec1 .list p:nth-of-type(1)::after {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        border: 1px solid rgb(122, 122, 122);
        width: 90px;
        right: 0;
    }

    .sec1 .list p:nth-of-type(2) {
        font-size: 40px;
        font-family: 'GongGothicMedium';
        padding-top: 1em;

    }

    .sec1 .list p:nth-of-type(3) {
        font-size: 50px;
        font-family: 'GongGothicBold';
        padding-top: 0.1em;
        color: #1E7AD1;
        padding-bottom: 30px;
    }

    .sec1::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0 30px 30px 0;
        top: 50%;
        left: 0;
        background-image: url(./busimg/sub\ ba1.png);
        background-size: 100% 100%;
    }
}
@media (max-width:500px) {
    .sec1 .box1 {
        width: 100%;
    }
    .sec1 .ba1 {
        /* border: 1px solid red; */
        left: 0;
        width: 100%;
        top: 40%;
    }
    .sec1 .ba1_img {
        width: 50%;
        
        padding-top: 15%;
        /* border: 1px solid #000; */
    }
    .sec1 .list p:nth-of-type(1) {
        font-size: 15px;
    }
    .sec1 .list p:nth-of-type(2) {
        font-size: 24px;
    }
    .sec1 .list p:nth-of-type(3) {
        font-size: 46px;
    }
    .box1 button {
        width: 90%;
    }
    .sec1 .sub_list {
        top: 90%;
        
    }
    .sec1::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0 0px 0px 0;
        top: 60%;
        left: 0;
        background-image: url(./busimg/sub\ ba1.png);
        background-size: 100% 100%;
    }
}





@media (max-width:1000px) {
    .sec2 {

        position: relative;
        /* border: 10px solid blue; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: auto !important;
        margin-top: 600px !important;

    }

    .sec2 ul {
        width: 65%;
        position: relative;
        border: 5px solid #000;
        /* margin: auto; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sec2 li img {
        width: 50%;
    }

    .sec2 li {
        width: 20%;
        border: 5px solid transparent !important;
        bottom: 0px;
        position: relative;

    }

    .sec2 li:nth-of-type(3) {
        display: none;
    }

    .sec2 li:nth-of-type(4) {
        display: none;
    }
    .sec2 li .img {
        border: 1px solid yellow;
        display: flex;
        border-radius: 50%;
        width: 40%;
        background-color: rgb(238, 238, 238);
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0px;
        transition: .5s;
    }
    .sec2 li .img>img {
        width: 70%;
    }
    .sec2 li .img>img:nth-of-type(1) {
        width: 45%;
    }
    
    .sec2 li:hover .img {
        background-color: rgb(73, 73, 248);
        bottom: 15px;

    }

    .sec2 li .title {
        text-align: center;
        padding-top: 20px;
        font-family: 'GongGothicMedium';
        font-size: 18px;
    }

    .sec2 li a {
        position: absolute;
        width: 100%;
        height: 100%;
        color: transparent;
    }
}
@media (max-width:500px) {
    .sec2 {
        width: 100%;
        border: 3px solid red;
        z-index: 1000;
        top: 350px;

    }
    .sec2 li {
        border: 1px solid #000;
        width: 100%;
        
    }
    .sec2 li .img {
        height: 100%;
        width: 100%;
    }
    .sec2>img>img {
        width: 80%;
    }

}
@media (min-width:801px) {
    .sec2 {
        /* height: calc(100vh - 100px); */
        /* border: 1px solid blue; */
        /* background-color: white; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 300px 0 100px 0;
        margin-top: -200px;
        
    }

    .sec2 ul {
        width: 65%;
        position: relative;
        /* margin: auto; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sec2 li img {
        width: 50%;
    }

    .sec2 li {
        
        width: 200px;
        bottom: 0px;
        position: relative;
    }

    .sec2 li .img {
        background-color:#f5f5f5;
        display: flex;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        /* background-color: rgb(255, 255, 255); */
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0px;
        transition: .5s;
    }

    .sec2 li:hover .img {
        background-color: rgb(90, 90, 228);
        bottom: 15px;

    }

    .sec2 li .title {
        text-align: center;
        padding-top: 20px;
        font-family: 'GongGothicMedium';
        font-size: 18px;
    }

    .sec2 li a {
        position: absolute;
        width: 100%;
        height: 100%;
        color: transparent;
    }
}


@media (max-width:1000px) {
    .sec3 {
        max-width: 1364px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 100px 0;
    }

    .sec3>ul {
        display: flex;
        /* width: 100%; */
        flex-direction: column;
        text-align: center;
    }

    .sec3>ul>li {
        /* border: 1px solid red; */
        width: 100% !important;
        height: 270px !important;
        text-align: center;

    }
    .sec3>ul>li>div {
        text-align: center;
    }
    .sec3>ul>li>div>p {
        text-align: center;
        margin-left: 0 !important;
    }
    .sec3>ul>li:nth-of-type(1) {
        /* padding-top: 150px; */
    }

    .sec3>ul>li:nth-of-type(3) {
        display: none;
    }

    .sec3 a {
        color: #A29D9D;
        font-size: 14px;
        font-family: 'GongGothicMedium';
    }

    .sec3 p {
        font-size: 14px;
        color: #666666;
        font-family: 'GongGothicLight';
    }

    .sec3 .start {
        color: #306FD9;
        font-size: 30px;
        font-family: 'GongGothicBold';
    }

    .sec3 .last {
        color: #00A1E9;
        font-size: 30px;
        font-family: 'GongGothicBold';
    }

    .sec3 .swiper-wrapper {
        padding: 0 !important;
        margin: 50px 0 !important;
        font-size: 18px;
        font-family: 'GongGothicLight';
    }
    .swiper {
        overflow: visible;
    }
    .swiper-button-next {
        right: 50px;
    }
    .swiper-button-prev {
        left: 40px;
    }

}
@media  (max-width:500px) {
    .sec3 {
      width: 100%;
    }
    .sec3 ul>li {
        left: 90px;
        
    }
    .sec3 ul>li>div {
        width: 80%;
    }
}
@media (min-width:801px) {
    .sec3 {
        border: 1px solid #D2D2D2;
        background-color: white;
        margin-top: 130px;
    }

    .sec3>ul {
        max-width: 1364px;
        display: flex;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;


    }

    .sec3>ul>li {
        border-left: 1px solid #D2D2D2;
        border-right: 1px solid #D2D2D2;
        /* border: 1px solid red; */
        width: calc(100% / 3);
        height: 400px;
        padding-top: 50px;
        
    }
    .sec3>ul>li>div>p {
        margin-left: 55px;
    }
    .sec3>ul>li>p {
        text-align: center;
        margin-bottom: 10px;
    }
    .sec3>ul>li>a {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    .sec3 a {
        color: #A29D9D;
        font-size: 14px;
        font-family: 'GongGothicMedium';
    }

    .sec3 p {
        font-size: 14px;
        color: #666666;
        font-family: 'GongGothicLight';


    }

    .sec3 .start {
        color: #306FD9;
        font-size: 30px;
        font-family: 'GongGothicBold';
    }

    .sec3 .last {
        color: #00A1E9;
        font-size: 30px;
        font-family: 'GongGothicBold';
    }

    .sec3 .swiper-wrapper {
        font-size: 18px;
        font-family: 'GongGothicLight';
        padding: 40px 55px ;
        /* border: 1px solid #000; */
    }

    .sec3 .next1 {
        /* border: 1px solid #000; */

    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 20px;


    }

}





@media (max-width:1000px) {
    footer {
        border-radius: 15px 0 0 0;
        right: 0;
        /* border: 10px solid red; */
        background-color: #474E61;
        font-size: 20px;
        font-family: 'GongGothicLight';
        color: rgb(240, 240, 240);
        height: 300px;
        position: relative;    
    }

    footer .fot_box {
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        /* width: 20%; */
        left: 58% !important;
        top: 20%;
        position: absolute;
        background-color: #3C3D41;
    }

    footer .fot_box a:nth-of-type(1) {
        color: #FFF799;
    }

    footer p {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 55% !important;
        top: 60% !important;
   
    }

    footer p span {
        display: block;

    }

    footer p span:nth-of-type(2) {
        padding-top: 30px;
    }
}
@media (max-width:500px) {
    .fot_box {
        width: 100%;
        
    }
}
@media (min-width:801px) {
    footer {
        border-radius: 50px 0 0 0 ;
        right: 0;
        width: 1650px;
        /* border: 10px solid red; */
        background-color: #474E61;
        font-size: 20px;
        font-family: 'GongGothicLight';
        color: rgb(240, 240, 240);
        height: 300px;
        position: absolute;
        margin-top: 200px;
    }

    footer .fot_box {
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        height: 15%;
        width: 30%;
        left: 53%;
        top: 20%;
        position: absolute;
        background-color: #3C3D41;
    }

    footer .fot_box a:nth-of-type(1) {
        color: #FFF799;
    }

    footer p {
        position: absolute;
        left: 60px;
        top: 65px;
    }

    footer p span {
        display: block;

    }

    footer p span:nth-of-type(2) {
        padding-top: 30px;
    }
}